Screen {
    layout: grid;
    grid-size: 1;
    background: #181717;
}

Sidebar {
    dock: left;
    height: 100%;
    border: round #181717;
    border-right: round grey;
    border-top: round grey;
    padding-top: 0;
    margin: 0;
}

#editor {
    height: 100%;
    background: #181717;
}

WelcomeText {
    align: center middle; 
}
WelcomeText #welcome {
    text-align: center;
}
WelcomeText #happy-coding {
    text-align: center;
}
